.result {
  display:none;
}

h3 {
  font-size: 1em;
  color: #333;
  font-weight: bold;
}

.face {
  width:50px;
}

.result-img {
  width:300px;
  border-radius: 20px;
}

.form-group {
  width: 200px;
}

.thanks {
  margin-top: 20px;
  font-size: 2em;
  color: #333;
}
